/* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); */

/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap'); */

:root {
  --header-color: #d98324;
  --background-color: #ffffff;
  --accent-color: #ff9900;
  --text-color: #3a3939;

  --heading-font: 'Lora', serif;
  --paragraph-font: 'Muli', sans-serif;

  --nav-background-color: #d98324;
  --nav-link-color: #000000;
  --nav-hover-background-color: #ddd;
  --nav-background-color-large: #f8f2e9;
  --nav-link-hover-background: #fbfbfb;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  padding: 20px;
}

header {
  max-width: 1200px;
  /* border: 1px solid var(--accent-color); */
  background-color: var(--header-color);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header button {
  height: 35px;
  background-color: var(--header-color);
  border: 2px solid var(--nav-link-color);
  font-size: 15px;
  cursor: pointer;
  margin-right: 30px;
  padding: 10px 20px 30px; /* Adjusting padding as needed */
  text-align: center;
}

/* Hover effect for buttons */
header button:hover {
  background-color: var(--nav-link-color);
  color: var(--header-color);
}

header img {
  height: 100px;
  margin-right: 10px;
}

header h1{
  display: none;
}

/* NAVIGATION MENU BAR FOR SMALL SCREEN */
nav {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--nav-background-color);
  padding: 1px;
}

nav ul {
  list-style-type: none;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-align: left;
  padding: 0.5rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #242424;
  color: var(--header-color);
}

.active {
  text-decoration: underline;
}

/* STYLING THE BUTTON UNDER THE UL ELEMENT */
nav button {
  height: 35px;
  background-color: var(--header-color);
  border: 2px solid var(--nav-link-color);
  font-size: 15px;
  cursor: pointer;
  padding: 10px 20px 30px; /* Adjusting padding as needed */
  text-align: center;
  display: inline-block;
  margin: 10px;
}

/* Unordered list button hover effect for buttons */
nav button:hover {
  background-color: var(--nav-link-color);
  color: var(--header-color);
}

/* STYLING THE MAIN CONTENT AND ITS ELEMENTS */

main {
  max-width: 1200px;
  margin: 0 auto;
}

main .card1 {
  /* border: 1px solid var(--nav-link-color); */
  margin-top: 1rem;
  margin: 0;
}

main .card1 h2 {
  font-size: 21px;
  text-align: center;
  border-bottom: 2px solid var(--accent-color);
  border-left: 2px solid var(--accent-color);
}

main .card2 {
  /* border: 1px solid var(--nav-link-color); */
  margin-top: 1rem;
  padding: 10px 40px 20px;
  background-color: var(--nav-background-color-large);
  margin: 0;
}

main .advert1 {
  /* border: 1px solid var(--nav-link-color);  */
  margin-top: 1.2rem;
}

main .advert2 {
  /* border: 1px solid var(--nav-link-color);  */
  margin-top: 1.2rem;
}

main .weather {
  /* border: 1px solid var(--nav-link-color);  */
  margin-top: 1.8rem;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

main .weather h2 {
  text-align: center;
}

main .weather p {
  text-align: center;
}

main .card-event1 {
  /* border: 1px solid var(--nav-link-color); */
  margin-top: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

main .card-event1 h2 {
  display: none;
}

main .card-event2 {
  /* border: 1px solid var(--nav-link-color); */
  margin-top: 1.2rem;
  background-color: var(--nav-background-color-large);
  padding: 10px 40px 20px;
}


main .interest{
  margin-top: 90px;
  /* border-top: 2px solid var(--accent-color); */
  text-align: center;
  /* border: 1px solid var(--nav-link-color); */


}

main .interest h2{
  border-bottom: 2px solid var(--accent-color); 
  
}

main .interest button {
  height: 35px;
  background-color: var(--nav-background-color-large);
  border: 2px solid var(--accent-color);
  font-weight: bolder;
  font-size: 17px;
  cursor: pointer;
  padding: 10px 20px 30px; /* Adjusting padding as needed */
  margin-top: 23px;
  width: 200px;
}

main .interest button:hover {
  background-color: var(--header-color);
}


main .svg1 {
  /* border: 1px solid var(--nav-link-color); */
  margin-top: 90px;
  text-align: center;
}

main .svg1 p{
  margin: 1px 10px 10px;
}

main .svg2 {
  /* border: 1px solid var(--nav-link-color); */
  margin-top: 90px;
  text-align: center;
}

main .svg2 p{
  margin: 1px 10px 10px;
}


main .svg3 {
  /* border: 1px solid var(--nav-link-color); */
  margin-top: 90px;
  text-align: center;
}

main .svg3 p{
  margin: 1px 10px 10px;
}

main .patners{
  margin-top: 90px;
  text-align: center;
}

main .patners h2{
  border-bottom: 2px solid var(--accent-color);

}

main .parent5{
  margin-top: 100px;
}


/* STYLING THE BUTTON IN PARENT3 ELEMENT CLASS */
.parent3 button {
  height: 35px;
  background-color: var(--nav-background-color-large);
  border: 2px solid var(--accent-color);
  font-weight: bolder;
  font-size: 17px;
  cursor: pointer;
  margin-right: 30px;
  padding: 10px 20px 30px; /* Adjusting padding as needed */
  text-align: center;
}

.parent3 button:hover {
  background-color: var(--header-color);
}

h2 {
  font-family: var(--heading-font);
  font-size: 28px;
  font-weight: bold;
}

h4{
  font-weight: bolder;
  font-size: 20px;
}

/* STYLING THE ELEMENT IN PARENT1 CLASS */
.parent1 p {
  font-weight: bold;
  font-size: 16px;
}

p {
  color: var(--text-color);
}

.parent1 p:hover {
  color: var(--nav-link-color);
}

.parent1 .event {
  height: 35px;
  background-color: var(--nav-background-color-large);
  border: 2px solid var(--accent-color);
  font-weight: bolder;
  font-size: 17px;
  cursor: pointer;
  margin-right: 30px;
  padding: 10px 20px 30px; /* Adjusting padding as needed */
  text-align: center;
}

.parent1 .event:hover {
  background-color: var(--header-color);
}

.parent1 .join {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  color: var(--nav-link-color);
}

.parent1 .join:hover {
  text-decoration: underline;
}

.visit-card{
  margin-top: 50px;
  text-align: center;
}

/* styling the footer  */
footer {
  margin-top: 1.2rem;
  padding: 10px 40px 20px;
  text-align: center;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  max-width: 1200px;
  margin: 0 auto;
}


/* .parent1{
    border: 1px solid var(--nav-link-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

/* for smaller screen sizes below 899px */
@media screen and (max-width: 898px) {
  /* Put header button in nav bar */
  header button {
    display: none;
  }

  /* HANBURGER MENU FOR SMALLER SCREEN LESS THAN 899PX */
  #menu {
    font-size: 2.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: 0.26rem 2vw;
    position: absolute;
    top: 4rem;
    right: 1.6rem;
  }

  #menu::before {
    content: "☰";
  }

  #menu.show::before {
    content: "x";
  }

  ul.navigation {
    display: none;
    list-style-type: none;
  }

  /** CSS for show and hide  **/

  ul.navigation.show {
    display: block;
  }

  /* styling for images in card */
  main .card1 img {
    display: block;
    height: auto;
    width: 100%;
  }

  main .advert1 img {
    display: block;
    height: 340px;
    width: 100%;
  }

  main .advert2 img {
    display: block;
    height: 340px;
    width: 100%;
  }

  main .card-event1 img {
    display: block;
    height: 325px;
    width: 100%;
    border-radius: 2px;
  }


  .discover-sidebar{
    text-align: center;
  }

  .left-sidebar-1{
    margin-top: 50px;

  }

  .left-sidebar-1 h2{
    border-bottom: 2px solid var(--accent-color);
    text-decoration-color: var(--accent-color);

  }


  .left-sidebar-2{
    margin-top: 50px;

  }

  .left-sidebar-3{
    margin-top: 50px;

  }

  .left-sidebar-2 img{
    display: block;
    width: 100%;
    height: auto;
  }

  .discover-sidebar button{
    height: 35px;
    background-color: var(--nav-background-color-large);
    border: 2px solid var(--accent-color);
    font-weight: bolder;
    font-size: 17px;
    cursor: pointer;
    padding: 10px 20px 30px; /* Adjusting padding as needed */
  }

  .discover-content h2{
    text-align: center;
    border-top: 2px solid var(--accent-color);
    border-right: 2px solid var(--accent-color);
  }

  .discover-content{
    margin-top: 100px;

  }

  .discover-content img{
    display: block;
    width: 100%;
    height: auto;
  }

  .content{
    margin-top: 40px;
  }
  
 

}


@media screen and (min-width: 500px) {
  
  .griiid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}