@media screen and (min-width: 690px) {
    
    main{
        max-width: 1000px;
        margin: 0 auto;
    }

    .parent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        padding: 10px;
    }
    .parent{
        max-width: 1000px;
        margin: 0 auto;
    }

    .parent section{
        box-shadow: 1px 1px 10px black;
    }

    .parent h1{
        grid-column: 1 / 4;
    }

    .parent .cards {
        grid-column: 1 / 3;
    }


    .location{
        /* border: 1px solid #000; */
        margin-top: 2px;
        border-radius: 20px;
    }
    .location iframe{
        width: 100%;
        /* height: auto; */
        padding: 10px;
    }
   


    header{
        max-width: 1000px;
        border: 1px solid rgb(29, 49, 29);
        background-color: rgb(105, 151, 105);
        margin: 0 auto;
        padding: 10px;
        color: #fff;
        display: flex;
        justify-content: center;

    }

    header img{
        border-radius: 3px;
        box-shadow: 1px 1px 10px rgb(185, 198, 184);
    }

    .myname{
        font-size: 39px;
        font-weight: bold;
        margin-top: 20px;
    }

 
    
 


    #menu{
        display: none;
    }
    
    /* ul.navigation li a{
        display: block;
        padding: .75rem 2vw;
        color: #fff;
        text-decoration: none;
    }
    
    
    
    ul.navigation{
        display: none;
        list-style-type: none;
    } */
    
    nav{
        max-width: 1000px;
        background-color: rgb(148, 187, 148);
        margin: 0 auto;
        color: #fff;
        display: flex;
    }

    nav ul li {
		flex: 1 1 100%;
	}
   

    ul.navigation, ul.navigation.show{
        justify-content: space-around;
    }

    

   

    


    


}